.bg-orange {
  background-color: #e28525;
}

.bg-lightgreen {
  background-color: #016972;
}
.bg-darkgreen {
  background-color: #01403f;
}

.Orange{
  color: #e28525;
  


}
.Lightgreen{
  color: #016972;


}
.Darkgreen{
  color: #01403f;


}